.AboutMe {
  background-color: rgba(5, 5, 35, 0.3);
  color: white;
  border-radius: 2vw;
  margin-right: 5vw;
  padding: 2vw;
  font-size: 1.7vw;
  box-shadow: 1vw 1vw 10vw 2vw blue;
}



.AboutMe h1{
  font-size: 3vw;
}

.AboutMe p{
  text-shadow: 1px 1px 5px 1px blue;
}